.resimSlider {

    height: 705px;

}

.fotoCard {
    height: 60%;
    width: 60%;
    background-color: #f2f2f2;

}

.fotoSehir {
    height: 420px;

}

.fotoSIIRT {

    height: 400px;
    width: 80px;
}
